p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 200%;
}

ul {
  padding: 0;
}

/* ------ case studies ------- */

.cases_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  gap: 160px;
  position: relative;
  overflow: hidden;
}

.cases-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.caseCard {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  min-width: 300px;
  max-width: 360px;
  height: auto;

  background: var(--bg-card);
  border-radius: 4px;
}

.imageDiv {
  display: flex;
  height: 200px;
  width: 360px;
  overflow: hidden;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  border-radius: 4px 4px 0 0;
}

.imageDiv img {
  margin: 0;
  width: 100%;
  height: auto;
}

.case-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  margin: 32px;

  min-height: 200px;
}

.caseLabel p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: var(--text-subdued);
}

/* ------- Volvo ------ */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
}

.content-image {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.content-image p {
  font-size: 14px;
  font-style: italic;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;

  margin-top: 2rem;

  max-height: 400px;
  overflow: hidden;
  object-fit: cover;
  justify-content: center;
}

.image-wrapper img {
  max-width: 120%;
  max-height: 120%;

  align-items: center;
}

.image-wrapper p {
  font-size: 13px;
  font-style: italic;
}

.youtube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.youtube iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content-youtube {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 100%;
}

/* ------ SIIC ------- */

.siic-moodboard-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.siic-moodboards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.moodboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.moodboard-images {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  object-fit: cover;
}

.moodboard-images img {
  width: 100%;
  height: auto;
}

.moodboard p {
  font-size: 14px;
  font-style: italic;
}

.siic__content-container_design {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.siic__design-images {
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-height: 400px;
  object-fit: cover;
}

.siic__design-imageAndLabel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  height: auto;
  gap: 0.5rem;
}

.siic-image-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.siic-image-wrapper img {
  max-width: 120%;
  height: auto;
}

/*
.post-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 24px;
  padding: 16px;
  flex-wrap: wrap;
}
*/

.aiDesignHero {
  background-image: url("manuel-CANL3bzp6wU-unsplash.jpg");
  background-size: cover; /* This will make the image cover the entire div */
  background-position: center; /* This will center the image */
  width: 100%;
}

/* ----------- media queries --------------- */

/* - 320px - `320px` being the minimum smartphone viewport width
-390px
- 480px - Approximate boundary between smartphone and tablet
- 768px - The original iPad had a resolution of 768x1024px
- 1024px - as above
- 1280px - Standard width for a 16:9 720p (HD) display */
