

@import url('https://fonts.googleapis.com/css?family=Inter:400');

html {font-size: 100%;} /*16px*/

body {
  background: #0000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #fff;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
  
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2 {font-size: 3.998rem;}

h3 {font-size: 2.827rem;}

h4 {font-size: 1.999rem;}

h5 {font-size: 1.414rem;}

small, .text_small {font-size: 0.707rem;}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    
}







.section_padding {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 200px 320px;
    gap: 160px;
}

.section_short {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 200px 320px;
    gap: 160px;
}

.bg_black {
    background: #000000;
}

.bg_dark {
    background: #111111;
}

.bg_light {
   background: #191919;
}


.navbar {
    position: absolute;
    top: 16px;
    left: 40px;
    
}





.footer_padding {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 320px;
    gap: 160px;
}



.footer__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__contact a {
    gap: 16px;
}

.copyright {
    width: 100%;
}





.youtube {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}









.content-headline {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    
}

.content-container img {
    
    margin-top: 0.5rem;
   
}

.content-container-reversed {
    display: flex;
    flex-direction: row-reverse;
    align-items:flex-start;
    padding: 0px;
    gap: 32px;
}


.content-image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}


.content-image p {
    font-size: 14px;
    font-style: italic;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    

    max-height: 400px;
    overflow: hidden;
    object-fit: cover;
    justify-content: center;
    
}

.image-wrapper img {
    max-width: 120%;
    max-height: 120%;
    
    align-items: center;
    
}

.image-wrapper p {
    margin-top: 0.5rem;
    font-size: 14px;
    font-style: italic;
}



.content-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    gap: 16px;
}



.content-youtube {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 100%;
}







.main__header {
    position: relative;
    background: linear-gradient(-65deg,#2C8287, #A0000C , #2C8287 70%  );
    background-size: 400% 100%;
    animation: gradient 35s ease infinite;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
        
	}
	100% {
		background-position: 0% 50%;
	}
}


.noise-image {  
    
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
   
    background-image: url("https://stackdiary.com/wp-content/uploads/2022/10/noise_img.png");
    background-position: 0px 0px;
    background-size: auto;
    
    opacity: 0.25;
    height: 100%;
    width: 100%;
        
   
    
  }







.main__about-image {
    display: flex;
    width: 240px;
    justify-content: center;
}

.main__about-image img {
    max-width: 100%;
    
}

.main__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    
}

.main__contact-icon {
    
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    align-items: center;
}

.main__contact-icon a {
    display: flex;
    align-items: center;
}

.main__contact-icon img {
    height: 32px;
    width: 32px;
    margin: 0;
}




.main__cv-timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 300px;
    padding: 0px;
    gap: 24px;
    margin-top: 8px;
}

.main__cv-timeline_job {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.jobWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.jobTitle {
    
}

.jobYear p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #919191;

    
}

.jobEmployer p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #919191;
}


.caseCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    justify-content: center;
    align-items: center;

    max-width: 360px;
    height: auto;
    

    background: #2C2C2C;
    border-radius: 4px;
}

.imageDiv {
    
    display: flex;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
}

.imageDiv img {
    margin: 0;
    width:100%;
    height: auto;
    

}



.case-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    margin: 32px;
    
    min-height: 200px;
}




.caseLabel p {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #949494;
}

.caseText {
    margin-top: 8px;
}

.caseLink a {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    /* identical to box height, or 32px */
    text-decoration: none;

    color: #FFFFFF;
}

























.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
}

.volvo__header-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.uxScreens img {
    justify-items: center;
}













.siic__header {
    background-image: url(../public/images/siicheroL.png);
    background-position: right center;
    background-size: cover;
    
}

.siic__header-container {
    align-items: center;
    height: 360px;
}

.siic_brief img {
    margin-top: 0.5rem;
}







.siic-moodboard-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    

}

.siic-moodboards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;

}

.moodboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.moodboard-images {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    object-fit: cover;
}

.moodboard-images img {
    width: 100%;
    height: auto;
}

.moodboard p {
    font-size: 14px;
    font-style: italic;
}





.siic__content-container_design {
 
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}

.siic__design-images {
    display: flex;
    flex-direction: row;
    gap: 16px;
    max-height: 400px;
    object-fit: cover;
}

.siic__design-imageAndLabel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    height: auto;
    gap: 0.5rem;
}

.siic-image-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.siic-image-wrapper img {
    max-width: 120%;
    height: auto;
    
}





















@media screen and (max-width:1400px) {

    .section_padding {
        
        padding: 200px 250px;
        
    }
}

@media screen and (max-width:1120px) {

    .section_padding {
        
        padding: 200px 160px;
        
    }


    .content-container {
        flex-direction: column;
        
    }

    .main__about .content-container {
        align-items: center;
    }

    .content-container-reversed {
        flex-direction: column;
        
    }

    .section_short {
        
        padding: 200px 160px 100px;
        gap: 160px;
    }

    .footer_padding {
        
        padding: 100px 160px;
        
    }
    













}

@media screen and (max-width:800px) {

    .navbar {
        left: 64px;
    }

    .section_padding {
        
        padding: 200px 64px;
        
    }

    .section_short {
        
        padding: 200px 64px 64px;
        gap: 160px;
    }

    .footer_padding {
        
        padding: 100px 64px;
        
    }

    .siic__header {
        background-image: url(../public/images/siicHeroM.png);
        
        
    }



}


/* mobile */

@media screen and (max-width:550px) {
        

    @import url('https://fonts.googleapis.com/css?family=Inter:400');

    html {font-size: 100%;} /*16px*/

    body {
    background: #0000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #fff;
    }

    p {}

    h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    }

    h1 {
    margin-top: 0;
    font-size: 3.052rem;
    }

    h2 {font-size: 2.441rem;}

    h3 {font-size: 1.953rem;}

    h4 {font-size: 1.563rem;}

    h5 {font-size: 1.25rem;}

    small, .text_small {font-size: 0.8rem;}

    .navbar {
        left: 32px;
    }
    .section_padding {
        
        padding: 200px 32px;
        
    }

    .section_short {
        
        padding: 200px 32px 64px;
        
    }

    .footer_padding {
        
        padding: 40px 32px;
        gap: 40px;
        
    }



    


    .caseCard {
        
    
        width: 320px;
        
    }
    
    .imageDiv {
        
        max-width: 320px;
        
    }

    .case-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 4px;
        margin: 32px;
        
        height: 200px;
    }







    .siic__header {
        background-image: url(../public/images/siicHeroS.png);
        background-position: right center;
        background-size: cover;
        
    }

    .siic-moodboards {
        
        flex-direction: column;
        
    
    }

    
}