---
layout: base.njk
title: Blog
description: Blog posts and articles by Simon Rosenqvist on design leadership, technology, AI, and craft
hero: Writing
---

<section class="section_padding">
    <div class="section_content">
        <div class="post-list">
            {% for post in collections.post | reverse %}
            <a href="{{ post.url }}" class="post-list-item">
                <div class="post-meta-line">
                    <time datetime="{{ post.date | dateToISO }}">{{ post.date | readableDate }}</time>
                    {% if post.data.tags %}
                    <span class="post-tags">
                        {%- for tag in post.data.tags %}<span class="post-tag">{{ tag }}</span>{% endfor -%}
                    </span>
                    {% endif %}
                </div>
                <h3 class="post-list-title">{{ post.data.title }}</h3>
                {% if post.data.description %}
                <p class="post-list-description">{{ post.data.description }}</p>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
</section>
