<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <title>{{ title }} | Simon Rosenqvist</title>

    <!-- Styles and Resources -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.svg">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ title }} | Simon Rosenqvist">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="/public/images/favicon.svg">
    <meta property="og:url" content="{{ page.url | absoluteUrl }}">
    <meta property="og:type" content="website">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }} | Simon Rosenqvist">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="/public/images/favicon.svg">
</head>

<body>
    <header>
        <nav id="navbar-container" class="navbar-container"></nav>
        {% if hero %}
        <div class="hero-text">
            <h1 class="display-1">{{ hero }}</h1>
        </div>
        {% endif %}
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer role="contentinfo" class="footer_padding bg_black">
        <div id="footer-container" style="width: 100%; display: flex; justify-content: center;"></div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#navbar-container").load("/components/navbar.html");
            $("#footer-container").load("/components/footer.html");
        });
    </script>
</body>

</html>