---
layout: base.njk
---

<article class="section_padding">
    <div class="section_content">

        <div class="post-meta">
            <time datetime="{{ date | dateToISO }}">{{ date | dateToISO }}</time>
            {% if tags %}
            <div class="tags">
                {% for tag in tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <h1 class="display-1">{{ title }}</h1>
        </div>

        <div class="post-content">
            {{ content | safe }}
        </div>
        <a href="/index.html" class="button" style="margin-left: var(--spacing-md); margin-top: var(--spacing-md);">Back
            Home</a>
    </div>

</article>