<div class="footer__contact">
    <h4>Get in touch:</h4>
    <label class="contact-icon">
        <a href="mailto:info@rosenqvist.design"><img src="../public/images/icons8-secured-letter-50.png" alt="email" />
            info@rosenqvist.design</a>
    </label>
    <label class="contact-icon">
        <a href="https://www.linkedin.com/in/simon-rosenqvist/" target="_blank"><img
                src="../public/images/icons8-linkedin-50.png" alt="Linkedin" />
            LinkedIn</a>
    </label>
    <label class="contact-icon">
        <a href="https://mastodon.social/@amalgam_" target="_blank"><img src="../public/images/mastodon-logo-purple.svg"
                alt="Mastodon" />
            Mastodon</a>
    </label>
</div>

<div class="copyright">
    <label>©2024, Simon Rosenqvist</label>

    <a href="https://librecounter.org/referer/show" target="_blank">
        <img src="https://librecounter.org/outline-white.svg" referrerpolicy="unsafe-url"
            style="width: 32px; height: 32px" />
    </a>
</div>