<style>
    /* ------ footer ------- */
    @import url(../css/main.css);

    .footer_padding {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5% 10%;

        gap: 160px;
    }

    .footer__contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: var(--text-body);
    }

    .footer__contact a {
        gap: 16px;
    }

    .copyright {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        max-height: 2rem;

        justify-content: space-between;
        color: var(--text-body);
    }
</style>


<div style="    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    max-width: 1280px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;">
    <div class="footer__contact">
        <h3>Get in touch:</h3>
        <a class="contact-icon nav-link" href="mailto:info@rosenqvist.design"><img
                src="../public/images/icons8-secured-letter-50.png" alt="email" />
            info@rosenqvist.design</a>
        <a class="contact-icon nav-link" href="https://www.linkedin.com/in/simon-rosenqvist/" target="_blank"><img
                src="../public/images/icons8-linkedin-50.png" alt="Linkedin" />
            LinkedIn</a>
        <a class="contact-icon nav-link" href="https://mastodon.social/@amalgam_" target="_blank"><img
                src="../public/images/mastodon-logo-purple.svg" alt="Mastodon" />
            Mastodon</a>
    </div>

    <div class="copyright">
        <p style="white-space: nowrap">©2024, Simon Rosenqvist</p>
        <a href="https://librecounter.org/referer/show" target="_blank">
            <img src="https://librecounter.org/outline-white.svg" referrerpolicy="unsafe-url"
                style="width: 32px; height: 32px" />
        </a>
    </div>
</div>