<style>
    /* ------- navbar ------- */
    @import url(../css/main.css);

    .navbar-container {
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .navbar {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        max-width: 1280px;
        margin: 32px 10% 0;
        gap: 2rem;
    }

    .navbar-nav {
        display: flex;
        align-items: baseline;
        gap: 1.5rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navbar-nav a,
    .nav-link {
        color: var(--text-navbar) !important;
        text-decoration: none !important;
    }

    .navbar-nav a:hover {
        text-decoration: underline !important;
    }
</style>

<body>
    <div class="navbar">
        <a href="/" class="nav-item" style="text-decoration: none;">
            <h4 class="nav-link">Rosenqvist |</h4>
        </a>

        <ul class="navbar-nav">

            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/portfolio.html" class="nav-link">Portfolio</a></li>

            </li>
        </ul>

    </div>
</body>




</html>