.navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding-right: 40px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-nav .nav-item {
  float: left;
}
