<!-- Footer Component -->
<div class="footer-wrapper">
    <div class="footer__contact">
        <h3>Get in touch:</h3>
        <a class="contact-icon nav-link" href="mailto:info@rosenqvist.design">
            <img src="/public/images/email.svg" alt="email"
                style="width: 24px; height: 24px; filter: brightness(0) invert(1);" />
            info@rosenqvist.design
        </a>
        <a class="contact-icon nav-link" href="https://www.linkedin.com/in/simon-rosenqvist/" target="_blank">
            <img src="/public/images/linkedIn_icon.svg" alt="Linkedin"
                style="width: 24px; height: 24px; filter: brightness(0) invert(1);" />
            LinkedIn
        </a>
        <a class="contact-icon nav-link" href="https://mastodon.social/@amalgam_" target="_blank">
            <img src="/public/images/mastodon-logo-purple.svg" alt="Mastodon" />
            Mastodon
        </a>
        <a class="contact-icon nav-link" href="/feed.xml" target="_blank">
            <img src="/public/images/rss-icon.svg" alt="RSS" />
            RSS
        </a>
    </div>

    <div class="copyright">
        <p style="white-space: nowrap">©2024, Simon Rosenqvist</p>
        <a href="https://librecounter.org/referer/show" target="_blank">
            <img src="https://librecounter.org/outline-white.svg" referrerpolicy="unsafe-url"
                style="width: 32px; height: 32px" />
        </a>
    </div>
</div>